.App {
  text-align: center;
}


div#root header.App-header .main_todo_allTasks_wrapper li span.alltasks_check {
  position: absolute;
  right: 60px;
  top: 12px;
}

div#root header.App-header .main_todo_allTasks_wrapper li span.allTasks_name {
  width: 240px;
  word-break: break-word;
}

div#root header.App-header .main_todo_allTasks_wrapper li span.alltasks_check input[type="checkbox"] {
  width: 20px;
  height: 20px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
  text-align: left;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header_main_wrapper {
  position: fixed;
  width: 100%;
  background: #cbed02;
  left: 0;
  top: 0;
  color: #282c34;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header_main_right_menu > span {
  padding-right: 15px;
}

.header_main_right_menu {
  display: flex;
}

.header_main_right_menu > span:not(:last-child) {
  padding-right: 10px;
}

.header_main_right_menu img {
  width: 30px;
}


div#root header.App-header .main_todo_app_heading span.removeAll_removeAll {
  font-size: 14px;
  text-decoration: underline;
  color: red;
}

div#root header.App-header .main_todo_app_heading {
  font-size: 24px;
  text-transform: capitalize;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

div#root header.App-header .main_todo_app_inputWrapper {
  padding-top: 20px;
}

div#root header.App-header label.main_todo_app_label {
  font-size: 24px;
}

div#root header.App-header form.main_todo_task_form {
  display: flex;
  height: 40px;
  margin-top: 20px;
}

div#root header.App-header input.main_todo_app_input {
  width: 65%;
  background: #fff;
}

div#root header.App-header form.main_todo_task_form button.main_todo_app_submit {
  font-size: 16px;
  width: 35%;
}

div#root header.App-header .main_todo_allTasks_wrapper li {
  list-style: none;
  padding: 15px 5px 15px 10px;
  position: relative;
  display: flex;
}

div#root header.App-header .main_todo_allTasks_wrapper ul.main_todo_allTasks {
  padding-left: 0;
  font-size: 20px;
}


div#root header.App-header .main_todo_allTasks_wrapper li span.allTasks_cross {
  background: red;
  border-radius: 100%;
  padding: 1px 5px;
  width: 11px;
  position: absolute;
  height: 20px;
  right: 15px;
  font-size: 0;
  top: 15px;
}

div#root header.App-header .main_todo_allTasks_wrapper li span.allTasks_cross:before {
  content: '+';
  display: block;
  position: absolute;
  font-size: 21px;
  top: -3px;
  right: 4px;
}

div#root header.App-header .main_todo_allTasks_wrapper li:nth-child(odd) {
  background-color: #4c4f56;
}